{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
            {{ form_row(form.nomLoisir) }}
            {{ form_row(form.typeLoisir) }}

            <button type="submit" class="btn btn-primary">Ajouter</button>
        {{ form_end(form) }}
{% endblock %}
