{% extends 'base.html.twig' %}

{% block body %}
    <h1>Accueil</h1>
    <p><a href="{{ path('app_login') }}">Se connecter</a></p>
	{% for utilisateur in utilisateurs %}
		<h2>
			{{utilisateur.email}}
		</h2>
		{% for typeLoisir in typeLoisirs %}
			<h3>
				{{typeLoisir.nomTypeLoisir}}
			</h3>
			{% for loisir in loisirs[utilisateur.id] %}
				{% if loisir.typeLoisir == typeLoisir %}
					<p>{{loisir.nomLoisir}}</p>
				{% endif %}
			{% endfor %}
		{% endfor %}
	{% endfor %}
{% endblock %}
